<div class="title">
	<div class="center-block">
		<a href="#/session"><i class="fa fa-arrow-left settings_i"></i></a>Create Session
	</div>
</div>
<a href="#/session" class="center-block logout_btn">Home</a>
<div class="container">
	<div class="col-xs-12">
		<div class="ds_notice" ng-show="university==0">
			<p>Please set your University in <a href="#/setting">settings</a> page.</p>
		</div>
	</div>
	<div class="col-xs-12"  ng-swipe-left="sc()" ng-show="university==1">
	   <form role="form" name="loginForm" novalidate>
	     <p class="help-block" ng-show="findError || loginError">{{ findError }} {{ loginError }}<p>
		 <div class="form-group" >
		  <select  class="form-control" name="professor" id="professor" data-ng-model="userForm.professor" ng-change="getValue();" required>
			<option value=""> Select Professor</option>		  
		  	<option ng-repeat="o in professor" value="{{ o.id }}">{{ o.professor }} </option>
		  </select>		  
		   <p ng-show="loginForm.professor.$invalid && !loginForm.professor.$pristine" class="help-block">Please select professor.</p>
		</div>
		<div class="form-group">
		  <select  class="form-control" name="courses" id="courses" data-ng-model="userForm.courses" ng-change="getCourseValue();" required>	
			<option value=""> Select Course</option>				  
		  <option ng-repeat="o in courseoptions" value="{{ o.id }}">{{ o.name }} ({{ o.course_number }})</option>
		  </select>		  
		   <p ng-show="loginForm.courses.$invalid && !loginForm.courses.$pristine" class="help-block">Please select course.</p>
		</div>	
		<div class="form-group">
		  <select class="form-control" name="time" id="time" data-ng-model="userForm.time" required>
			<option value=""> Select Time</option>		
		  <option ng-repeat="o in timeoptions" value="{{ o.time }}">{{ o.week}} - {{ o.time }} </option>
		  </select>	
		  <p ng-show="loginForm.time.$invalid && !loginForm.time.$pristine" class="help-block">Please select time.</p>
		</div>
	    <div class="form-group">
		  <input type="text" class="form-control" id="location"  name="location" ng-model="userForm.location" placeholder="Location" required>
		   <p ng-show="loginForm.location.$invalid && !loginForm.location.$pristine" class="help-block">Please enter location.<p>
		</div>
		<div class="form-group">
		  <input type="datetime-local" class="form-control"  autocomplete="off" id="date"  name="date" ng-model="userForm.date" placeholder="Date-time" required>
		   <p ng-show="loginForm.date.$invalid && !loginForm.date.$pristine" class="help-block">Please enter valid date and time.<p>
		</div>
	   <div class="form-group btn-group  col-xs-12">
	        <label class="btn btn-success col-xs-6" ng-model="userForm.session_type" uib-btn-radio="'1'" uncheckable>Private</label>
	        <label class="btn btn-success col-xs-6" ng-model="userForm.session_type" uib-btn-radio="'0'" uncheckable>Public</label>
	    </div>
		<button ng-click="create_session()" class="submit col-xs-12 btn btn-default">Create Session</button>
	  </form>
	  </div>	
</div>
<script>
	$('input[type="datetime-local"]').each(function() {
    var el = this, type = $(el).attr('type');
    if ($(el).val() == '') $(el).attr('type', 'text');
    $(el).focus(function() {
        $(el).attr('type', type);
        el.click();
    });
    $(el).blur(function() {
        if ($(el).val() == '') $(el).attr('type', 'text');
    });
});
</script>