<div class="title">
	<div class="center-block"><a href="#/register"><i  style="float:left;" class="fa fa-arrow-left"></i></a>Forget Password</div>
</div>
<div class="container">
	<div class="col-xs-12 center-block center main_logo">
		<img src="images/study_seshlogo.png" alt="StudySesh Logo"/>
	</div>
	<div class="col-xs-12">
	   <form role="form" name="loginForm" novalidate>
	     <p  class="help-block" ng-show="loginError">{{ loginError }}<p>
		<div class="form-group">
		   <span class="mandatory">*</span><input type="email" class="form-control" id="email"  name="email" ng-model="userForm.email" placeholder="Email" required/>
		   <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Please enter a valid email!</p>
		</div>
		<button type="submit" class="submit col-xs-12 btn btn-default" ng-click="forget_password()">Submit</button>
	</form>
	   <a href="#/home" class="center-block not_register_yet">already have an account</a>
	</div>	
</div>