<div class="title">
	<div class="center-block"><a href="#/register"><i  style="float:left;" class="fa fa-arrow-left"></i></a>Sign up</div>
</div>
<div class="container">
	<div class="col-xs-12 center-block center main_logo">
		<img src="images/study_seshlogo.png" alt="StudySesh Logo"/>
	</div>
	<div class="col-xs-12"  ng-swipe-left="sc()">
	   <form role="form" name="loginForm" novalidate>
	     <p  class="help-block" ng-show="registerError">{{ registerError }}<p>
		<div class="form-group">
		  <span class="mandatory">*</span><input type="text" class="form-control" id="first_name"  name="first_name" ng-model="userForm.first_name" placeholder="First name" required>
		   <p ng-show="loginForm.first_name.$invalid && !loginForm.first_name.$pristine" class="help-block">Please enter valid first name!</p>
		</div>
		<div class="form-group">
		  <span class="mandatory">*</span><input type="text" class="form-control" id="last_name"  name="last_name" ng-model="userForm.last_name" placeholder="Last name" required/>
		   <p ng-show="loginForm.last_name.$invalid && !loginForm.last_name.$pristine" class="help-block">Please enter valid last name!</p>
		</div>
		<div class="form-group">
		   <span class="mandatory">*</span><input type="email" class="form-control" id="email"  name='email' ng-model="userForm.email" placeholder="Email" required/>
		   <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Please enter a valid email!</p>
		</div>
		<div class="form-group">
			<span class="mandatory">*</span> <input type="password" class="form-control" id="pwd" ng-minlength=6 ng-model="userForm.password" ng-maxlength=18 name="password" placeholder="Enter password" required />
			<p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Please enter valid password!</p>
			<p class="error help-block" ng-show="loginForm.password.$error.minlength">Too short!</p>
			<p class="error help-block" ng-show="loginForm.password.$error.maxlength">Too long!</p>
		</div>
		<div class="form-group">
		  	<input type="text" class="form-control" id="phone"  name="phone" ng-model="userForm.phone" placeholder="Phone">
		</div>
		<button type="submit" class="submit col-xs-12 btn btn-default" ng-click="processregisterForm()">Sign up</button>
	</form>
	   <a href="#/home" class="center-block not_register_yet">already have an account</a>
	</div>	
</div>